menu "J1939 Example: Lighting Command"

    config GPIO_LEFT_BLINKER
        int "GPIO for left blinker"
        default 0

    config GPIO_RIGHT_BLINKER
        int "GPIO for right blinker"
        default 0

    config GPIO_BRAKE
        int "GPIO for brake"
        default 0
            
endmenu